@page "/sebrae/rae/export"
@model Sim.UI.Web.Areas.Sebrae.Pages.RAE.ExportModel;

@{
    //Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Export Data";
    ViewData["ActivePageNSA"] = Sim.UI.Web.Areas.Sebrae.Pages.SebraeAquiNavPages.Exportar;
    ViewData["ActivePageLi"] = Sim.UI.Web.Pages.Shared.LayoutNavPages.SA;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row no-padding mgn-0">
    <div class="col s12 no-padding">
        <partial name="_SebraeAquiNav" model="@Model.Src" />
    </div>
    <div class="col s6 offset-s3 no-padding">        
        <form method="post" class="card-content row no-padding mgn-0">
            <div class="input-field col s6 no-padding mgn-0">
                <input asp-for="DataI" />
            </div>
            <div class="input-field col s6 no-padding mgn-0 valign-wrapper">
                <input asp-for="DataF" />
                <button type="submit" class="btn mgn-l-8"><i class="material-icons">search</i></button>
                @if (Model.Atendimentos!.Any())
                {
                        <button asp-page-handler="ExportToFile" type="submit" class="btn blue mgn-l-8"><i class="material-icons">download</i></button>
                }
            </div>
        </form>
    </div>
</div>

<div class="card">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Servicos
                </th>
                <th>
                    Canal
                </th>
                <th>
                    Lançado
                </th>
                <th>
                    Rae
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Atendimentos!)
            {
                    <tr>
                        <td>
                        @{
                            var d1 = Convert.ToDateTime(item.Data);
                            var datainicial = d1.ToShortDateString();
                        }

                        @Html.DisplayFor(modelItem => datainicial)
                        </td>
                        <td class="t-uppercase">
                        @Html.DisplayFor(modelItem => item.Pessoa!.Nome)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Servicos)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Canal)
                        </td>
                        <td>
                        @{
                            var dua = Convert.ToDateTime(item.Ultima_Alteracao);
                            var ultima_alteracao = dua.ToShortDateString();
                        }

                        @Html.DisplayFor(modelItem => ultima_alteracao)
                        </td>
                        <td class="blue-text">
                        @Html.DisplayFor(modelItem => item.Sebrae!.RAE)
                        </td>
                    </tr>
            }
        </tbody>
    </table>

</div>