@page "/bindings/add/"
@model Sim.UI.Web.Pages.Bind.AddModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Novo Vínculo";
    ViewData["ActivePage"] = Web.Pages.Shared.LayoutNavPages.Clientes;
    ViewData["ActivePageLi"] = Web.Pages.Shared.LayoutNavPages.ClientesVincular;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="loadingpage"></div>
@if (Model._result == false)
{
    <form method="post">
    <section>
        <div class="card mgn-0">
            <div class="card-header">
                <a asp-page="/Bind/Index" class="btn-small waves-effect waves-light grey submit" title="Voltar"><i
                        class="material-icons">undo</i></a><span class="pdn-10">Vinculo Pessoa | Empresa</span>
            </div>
            <div class="row no-padding mgn-b-0">
                <input asp-for="Id2" id="inputId2" hidden />
                <div class="col s12 m6 l4 input-field valign-wrapper">
                    <input asp-for="GetCNPJ" id="inputCNPJ" autofocus />
                    <label>CNPJ</label>
                    <a id="addempresa" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>
                </div>
                <div class="col s12 m6 l8 input-field">
                    <input asp-for="NomeEmpresarial" id="inputNE" required />
                </div>
                <input asp-for="Id1" id="inputId1" hidden />
                <div class="col s12 m4 l4 input-field valign-wrapper">
                    <input asp-for="GetCPF" id="inputCPF" />
                    <label>CPF</label>
                    <a id="addcustomer" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>
                </div>
                <div class="col s12 m5 l5 input-field">
                    <input asp-for="Nome" id="inputNome" required />
                </div>
                <div class="col s12 m3 l3 input-field">
                    <select asp-for="VinculoSelecionado" asp-items="Model.Vinculos"></select>
                    <label>Tipo Vínculo</label>
                </div>
            </div>
            <div class="card-action">
                <button class="waves-effect waves-light btn">Gravar</button>
            </div>
        </div>
    </section>
</form>
}
else
{
    <div class="row">
    <a class="waves-effect waves-light btn blue-grey" asp-page="./Index"><i class="material-icons">arrow_back</i></a>
    <a class="waves-effect waves-light btn" asp-page="./add"><i class="material-icons">add</i></a>
</div>


    <div class="card">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Empresa</th>
                <th>Pessoa</th>
                <th>Vínculo</th>
                <th>Manager</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Listar != null)
                {
                    var _c = 0;
                    @foreach (var item in Model.Listar)
                    {
                        _c++;
                        var _vinculo = item.Vinculo;
                        <tr>
                            <td>@_c</td>
                            <td>@Html.DisplayFor(model => item.Empresa!.CNPJ)<br>@Html.DisplayFor(model =>
                    item.Empresa!.Nome_Empresarial)
                            </td>
                            <td class="t-uppercase">@Html.DisplayFor(model => item.Pessoa!.CPF)<br>@Html.DisplayFor(model =>
                    item.Pessoa!.Nome)</td>
                            <td>@Html.DisplayFor(model => _vinculo)</td>
                            <td>
                                <a class="waves-effect waves-light orange btn-floating" asp-page="./edit" asp-route-id="@item.Id"><i
                                        class="material-icons">edit</i></a>
                                |
                                <a href="#" class="waves-effect waves-light red btn-floating bindremove" data-id="@item.Id"><i
                                        class="material-icons">delete</i></a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('#inputCNPJ').mask('00.000.000/0000-00');
        $('#inputCPF').mask('000.000.000-00');

        $(function () {
            $("#addcustomer").click(function () {
                var p = document.getElementById("inputCPF").value;
                p = p.replace(/[./-]/g, '');
                $(".loadingpage").append(`<div class="progress radius-0 mgn-0"><div class="indeterminate"></div></div>`);
                $.getJSON(`/api/v1/pessoa/` + p)
                    .done(function (data) {
                        $(".loadingpage").empty();
                        $.each(data, function (i, item) {
                            let v1 = item.id;
                            let v2 = item.nome;
                            document.getElementById("inputNome").value = v2;
                            document.getElementById("inputId1").value = v1;
                        });
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        let errorMessage;
                        switch (jqXHR.status) {
                            case 404:
                                errorMessage = "Recurso não encontrado (404)";
                                break;
                            case 500:
                                errorMessage = "Erro no servidor (500)";
                                break;
                            default:
                                errorMessage = `Erro: ${textStatus} - ${errorThrown}`;
                        }
                        $(".loadingpage").empty();
                        alert(errorMessage);
                        console.error(`Erro: ${jqXHR.status} - ${errorThrown}`);
                    });
            }); 

            $("#addempresa").click(function () {
                var p = document.getElementById("inputCNPJ").value;
                p = p.replace(/[./-]/g, '');
                $(".loadingpage").append(`<div class="progress radius-0 mgn-0"><div class="indeterminate"></div></div>`);
                $.getJSON(`/api/v1/empresa/` + p)
                    .done(function (data) {
                        $(".loadingpage").empty();
                        $.each(data, function (i, item) {
                            let v1 = item.id;
                            let v2 = item.nome_Empresarial;
                            document.getElementById("inputNE").value = v2;
                            document.getElementById("inputId2").value = v1;
                        });
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        let errorMessage;
                        switch (jqXHR.status) {
                            case 404:
                                errorMessage = "Recurso não encontrado (404)";
                                break;
                            case 500:
                                errorMessage = "Erro no servidor (500)";
                                break;
                            default:
                                errorMessage = `Erro: ${textStatus} - ${errorThrown}`;
                        }
                        $(".loadingpage").empty();
                        alert(errorMessage);
                        console.error(`Erro: ${jqXHR.status} - ${errorThrown}`);
                    });
            });
        });
    </script>
}