@page "/gerencia/contas/grupos"
@model Sim.UI.Web.Areas.Admin.Pages.Manager.RolesModel
@{
    Layout = "_Layout.cshtml";

    ViewData["Title"] = "Grupos";
    ViewData["ActivePageAreaAdmin"] = AdminNavPages.Roles;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">

    <div class="card">
        <div class="card-header grey-text">Grupos<i class="left material-icons">account_box</i></div>
        <div class="row">
            <div class="input-field col s12 m8 l6 valign-wrapper">
                @* <select asp-for="Funcao" asp-items="Model.Funcoes">
                    <option selected>-- Grupos --</option>
                </select> *@
                <select asp-for="OwnerSelect" class="browser-default">
                    <option>-- Vincular Grupos --</option>
                    @foreach (var item in Model.OwnerList!)
                    {
                        <optgroup label="@item.Key">
                            @foreach (var subitem in item.Value)
                            {
                                <option>@subitem</option>
                            }
                        </optgroup>
                    }
                </select>
                @* <label asp-for="OwnerSelect"></label> *@
                <button asp-page-handler="AddFunc" class="btn-small waves-effect  mgn-l-10" type="submit"><i
                        class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="card scroll-x">

        <table>
            <thead>
                <tr>
                    <th>
                        Função
                    </th>
                    <th>
                        ID
                    </th>
                    <th>Comando</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Input!.Roles != null)
                {
                    foreach (var item in Model.Input.Roles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <button type="submit" asp-page-handler="Remove" asp-route-id="@item.Id"
                                    class="btn-floating materialize-red waves-effect waves-light" title="Excluir Role"><i
                                        class="material-icons">remove</i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</form>
