@using Microsoft.AspNetCore.Identity
@using Sim.Identity.Entity
@using Sim.Identity.Config;
@using Sim.Application.Interfaces

@inject UserManager<ApplicationUser> _userManager
@inject IAppServiceStatusAtendimento MeuStatus
@{
    var _mstatus = await MeuStatus.DoListAsync(s => s.UnserName == User.Identity!.Name);
    var _lstatus = _mstatus.FirstOrDefault()!;
    var _status = _lstatus == null ? false : _lstatus.Online;
    var _idstatus = _lstatus == null ? Guid.Empty : _lstatus.Id;
    var DisplayName = Context.Session.GetString("FirstName");
    var _mytheme = Context.Session.GetString("Theme");
    var _changetheme = _mytheme == "light" ? "dark" : "light";
    var _icon = _mytheme == "dark" ? "dark_mode" : "light_mode";
    var account_color = "";

    var _claims = new List<KeyValuePair<string, Guid>>();
    var json = Context.Session.GetString("ClaimList");

    if (json != null)
        _claims = Newtonsoft.Json.JsonConvert.DeserializeObject<List<KeyValuePair<string, Guid>>>(json!);

    var _setorativo = Context.Session.GetString("SetorAtivo");
    var _url = Url.ActionContext.HttpContext.Request.Path.Value;
}
<input id="meustatusonline" type="text" value="@_idstatus" hidden />

<div class="navbar-fixed bg-color-dark">
    <nav class="navbar z-depth-0">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s6 m6 l6 no-padding">
                    <ul>
                        <li>
                            <a href="#" data-target="sidenav-left" class="sidenav-trigger ">
                                <i class="material-icons">menu</i></a>
                        </li>
                        <li>
                            <i class="material-icons">chevron_right</i>
                        </li>
                        <li>
                            <a class="dropdown-trigger" data-target="dropsection">
                                @_setorativo
                            </a>
                        </li>

                        <li>
                            <i class="material-icons left">chevron_right</i>
                            @ViewData["Title"]
                        </li>
                    </ul>
                </div>
                <div class="col s6 m6 l6 no-padding">
                    <ul class="right">
                        @if (User.IsInRole(AccountType.Adm_Global) ||
                        User.IsInRole(AccountType.Adm_Account))
                        {
                            <li class="@LayoutNavPages.ConfigContasNavClass(ViewContext)">
                                <a asp-area="Admin" asp-page="/Manager/Index"><i
                                        class="material-icons online">manage_accounts</i></a>
                            </li>
                        }
                        @if (User.IsInRole(AccountType.Adm_Settings) ||
                        User.IsInRole(AccountType.Adm_Global))
                        {
                            <li class="@LayoutNavPages.ConfigSistemaNavClass(ViewContext)">
                                <a asp-area="Settings" asp-page="/Common/Index"><i
                                        class="material-icons online">settings</i></a>
                            </li>
                        }
                        @* <li>
                            <a asp-area="Identity" asp-page="/Theme" asp-route-url="@_url"
                                asp-route-theme="@_changetheme"><i class="material-icons online">@_icon</i></a>
                        </li> *@
                        @if (User.Identity!.IsAuthenticated)
                        {
                            @if (!_status)
                            { account_color = "offline"; }
                            else
                            { account_color = "online"; }

                            <li class="dropdown-trigger @LayoutNavPages.LoginNavClass(ViewContext)"
                                data-target="dropdownuser">
                                <a id="btnstatus" class="@account_color" href="#">@DisplayName<i
                                        class="left material-icons">person</i><i
                                        class="right material-icons">keyboard_arrow_down</i></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="dropsection" class="dropdown-content rounded-default row bg-color-white">
    @if (_claims != null)
    {
        @foreach (var setor in _claims!)
        {
            <div>
                <a asp-area="Identity" asp-page="/Session" asp-route-id="@setor.Value"
                    asp-route-url="@_url">@setor.Key</a>
            </div>
        }
    }
</div>

<div id="dropdownuser" class="dropdown-content rounded-default row bg-color-white">
    <div class="center-align"><a asp-area="Identity" asp-page="/Account/Manage/Index">Meu Perfil</a>
    </div>
    <div class="divider"></div>
    <div class="center-align pdn-h-10">
        <div class="switch" title="Alterar meu status"><label>OFF<input id="chkstatus" checked="@_status"
                    type="checkbox" onclick="myStatus()" /><span class="lever"></span>ON</label></div>
    </div>
    <div class="divider"></div>
    <div><a asp-area="Identity" asp-page="/Account/Logout">Sair<i
                class="left material-icons">logout</i></a></div>
</div>

<script>
    function myStatus() {
        var st = document.querySelector('#chkstatus');
        var uid = document.querySelector('#meustatusonline').value;
        const btnstatus = document.querySelector('#btnstatus');
        btnstatus.classList.remove('online');
        btnstatus.classList.remove('offline');
        if (!st.checked) { $('#btnstatus').addClass('offline'); }
        else { $('#btnstatus').addClass('online'); }
        var formData = { id: uid, val: st.checked };
        $.get('/Identity/OnlineStatus', { id: uid, val: st.checked },
            function (returnedData) {
            });
    }
</script>
